body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.start-button {
  height: 40px;
  width: 130px;
  background-color: white;
  border: 2px solid red;
}

.start-button:hover {
  background-color: rgb(252, 72, 72);
  color: black;
}

.start-button:disabled {
  background-color: #b6b5b5;
  color: white;
  border: 2px solid #7e7e7e;
  cursor: not-allowed;
}

h1 {
  font-weight: 500;
  font-size: 40px;
  color: black;
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 450px;
  flex-wrap: wrap;
  gap: 30px;
}

.square {
  height: 200px;
  width: 200px;
}

.blue {
  background-color: blue;
  opacity: 0.75;
}

.red {
  background-color: red;
  opacity: 0.75
}

.green {
  background-color: green;
  opacity: 0.75
}

.yellow {
  background-color: yellow;
  opacity: 0.75
}

.highlighted{
  opacity: 1;
  border: 2px solid black;
}
