body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 40px;
  color: #000000;
}

h2, .level-counter {
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 25px;
  color: #000000;
}

.start-button {
  height: 40px;
  width: 130px;
  background-color: #ffffff;
  border: 2px solid #ff0000;
}

.start-button:hover {
  color: black;
  background-color: #fc4848;
}

.start-button:disabled {
  border: 2px solid #7e7e7e;
  color: #ffffff;
  background-color: #b6b5b5;
  cursor: not-allowed;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  max-width: 450px;
  min-height: 450px;
  margin-bottom: 20px;
}

.square {
  height: 200px;
  width: 200px;
  cursor: pointer;
}

.blue {
  background-color: #0000ff;
  opacity: 0.75;
}

.red {
  background-color: #ff0000;
  opacity: 0.75
}

.green {
  background-color: #008000;
  opacity: 0.75
}

.yellow {
  background-color: #ffff00;
  opacity: 0.75
}

.highlighted {
  outline: 2px solid #000000;
  opacity: 1;
}
